<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Post </title>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">Post</h1>
        <div class="card">
            <div class="card-body">
                <h6><b>Post Id : </b><%=post.post.id%></h6>
                <b>Title : </b><%=post.post.title%> <br/>
                <b>Description : </b><%=post.post.body%> <br/>
            </div>
        </div>
        <h1 style="text-align: center;">Related Post (<%=relatedPost.posts.length%>)</h1>
        <div class="row">
        <% relatedPost.posts.forEach((result)=>{%>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h6><b>Post Id : </b><%=result.id%> </h6>
                    <b>Title : </b><%=result.title%> <br/>
                    <b>Description : </b><%=result.body%> <br/>
                </div>
            </div>
        </div>
        <%});%>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>